.mainWrapper {
   min-height: calc(100vh - 47px);
}

.headWrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: start;
   gap: 1rem;

   @media only screen and (max-width: 1160px) {
      grid-template-columns: repeat(2, 1fr);
   }

   @media only screen and (max-width: 790px) {
      grid-template-columns: repeat(1, 1fr);
   }
}

.metaDatas {
   display: grid;
   grid-template-columns: 30px 1fr;
   align-items: flex-start;
   gap: 10px;
}

.imgWrap {
   height: 100%;
   display: flex;
   align-items: center;
}

.city {
   font-size: 34px;
   @media only screen and (max-width: 475px) {
      font-size: 28px;
   }
}

.barWrapper {
   display: flex;
   justify-content: center;
   min-height: 217px;
}

.date {
   font-size: 24px;
}
.timeWrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin-top: 3rem;
   gap: 2rem;

   @media only screen and (max-width: 1160px) {
      grid-template-columns: repeat(2, 1fr);
   }

   @media only screen and (max-width: 790px) {
      grid-template-columns: repeat(3, 1fr);
   }

   @media only screen and (max-width: 540px) {
      grid-template-columns: repeat(2, 1fr);
   }

   @media only screen and (max-width: 370px) {
      // grid-template-columns: repeat(1, 1fr);
      gap: 10px;
   }
}

.cityForm {
   width: 100%;
   display: flex;
   align-items: center;
   margin: 1rem 0;
   background-color: #fff;
   border-radius: 35px;
   overflow: hidden;
}
.cityFormInput {
   width: 100%;
   padding: 20px;
   outline: none;
   border: none;
   font-size: 18px;
}

.cityFormBtn {
   width: 70px;
   cursor: pointer;
   padding: 20px;
   padding-right: 2 0px;
   background-color: transparent;
   border: none;
   outline: none;
}
