.wrapper {
   position: sticky;
   bottom: -1px;
   left: 0;
   width: 100%;
   background-color: #121931;
   box-shadow: 1px -8px 18px 0px rgba(0, 0, 0, 0.75);
   -webkit-box-shadow: 1px -8px 18px 0px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 1px -8px 18px 0px rgba(0, 0, 0, 0.75);

   @media only screen and (max-width: 360px) {
      font-size: 14px;
   }

   @media only screen and (max-width: 310px) {
      font-size: 12px;
   }
}

.inner {
   display: flex;
   align-items: center;
   justify-content: space-between;

   & > div {
      display: flex;
      align-items: center;
   }
}

.playBtn,
.closeBtn {
   height: 27px;
   width: 27px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   cursor: pointer;
   background-color: transparent;
   border: none;
   outline: none;

   img {
      scale: 0.6;
   }

   @media only screen and (max-width: 360px) {
      margin: 0;
      img {
         scale: 0.5;
      }
   }
}
